# IMPORT LIBRARIES

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import random
from sklearn.metrics import mean_squared_error, mean_absolute_error
from util_funcs import process_data, split_data
from neural_networks import SimpleNN, ComplexNN
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

# IMPORT ORIGINAL DATA

In [3]:
df = pd.read_csv('/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/temp-data/cps_ALL.csv')

In [4]:
df

,YEAR,SERIAL,MONTH,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,CPSIDV,CPSIDP,...,SCHLCOLL,DIFFANY,WKSWORK1,WKSWORK2,UHRSWORKLY,WKSUNEM1,WKSUNEM2,INCTOT,ADJGINC,TAXINC
0,2014,1,3,20140102878600,1,0.0,569.48,1,201401028786011,20140102878601,...,0,1,52,6,45,99,9,101500,170456,148056
1,2014,1,3,20140102878600,1,0.0,569.48,2,201401028786021,20140102878602,...,0,1,52,6,45,99,9,77300,0,0
2,2014,1,3,20140102878600,1,0.0,569.48,3,201401028786031,20140102878603,...,5,1,52,6,40,99,9,29003,29003,8353
3,2014,2,3,20131202917500,1,0.0,564.01,1,201312029175011,20131202917501,...,5,1,48,5,40,0,0,26800,9294,0
4,2014,2,3,20131202917500,1,0.0,564.01,2,201312029175021,20131202917502,...,1,1,16,2,10,0,0,19247,2447,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851268,2023,88977,3,0,1,NaN,413.20,1,0,0,...,5,1,52,6,40,99,9,50215,90415,64515
851269,2023,88977,3,0,1,NaN,413.20,2,0,0,...,5,1,52,6,40,99,9,40200,0,0
851270,2023,88978,3,0,1,NaN,416.37,1,0,0,...,0,1,52,6,40,99,9,33113,111205,85305
851271,2023,88978,3,0,1,NaN,416.37,2,0,0,...,0,1,52,6,40,99,9,78092,0,0
851272,2023,88978,3,0,1,NaN,416.37,3,0,0,...,1,1,52,6,15,99,9,6865,6865,0

In [7]:
df_temp1 = df.copy()
df_gender = process_data(df_temp1,'gender')
# drop "income total" variable because we are not attempting to predict this in this script
df_gender = df_gender.drop(columns=['INCTOT'])

In [8]:
df_gender

,AGE,UHRSWORKT,WKSWORK1,UHRSWORKLY,RELATE_101,RELATE_201,RELATE_202,RELATE_203,RELATE_301,RELATE_501,...,EDUC_111,EDUC_123,EDUC_124,EDUC_125,SCHLCOLL_1,SCHLCOLL_2,SCHLCOLL_3,SCHLCOLL_4,SCHLCOLL_5,DIFFANY_1
2,0.459459,0.555556,1.000000,0.557143,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,1
3,0.648649,0.555556,0.921569,0.557143,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
5,0.702703,0.555556,1.000000,0.557143,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
6,0.810811,0.625000,1.000000,0.557143,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
10,0.594595,0.583333,1.000000,0.585714,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851266,0.648649,0.555556,1.000000,0.557143,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1
851267,0.675676,0.555556,1.000000,0.557143,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
851268,0.918919,0.555556,1.000000,0.557143,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
851269,0.918919,0.555556,1.000000,0.557143,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,1
851272,0.027027,0.277778,1.000000,0.200000,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

# CREATE TEST CASES

This section is commented out as it only needed to run once for downloading purposes.

In [58]:
'''
# store possible values for each feature
column_names = df_gender.columns.tolist()

ranges_dict = {}
binaryCol_idxs = []

for i in range(len(column_names)):
    col = column_names[i]
    ranges_dict[col] = []
    val_count = len(df_gender[col].unique())
    if val_count == 2 and min(df_gender[col]) == 0 and max(df_gender[col]) == 1:
        binaryCol_idxs.append(i)
        ranges_dict[col].append(0)
        ranges_dict[col].append(1)
    else:
        ranges_dict[col].append(min(df_gender[col]))
        ranges_dict[col].append(max(df_gender[col]))
        
# ranges_dict
'''

In [60]:
'''
# check to see if any of the columns are binary in nature
# binaryCol_idxs
'''

In [64]:
'''
# exclude 'SEX_1' feature from loop of randomly generated values
# create test cases
testCase_dict = {}

# this loop will actually create 500 test cases because of the double inputs within the loop
for row in range(250):
    # loop through each feature
    for i in range(len(column_names)):
        col = column_names[i]
        # create the list in the test case dictionary only if it doesn't already exists
        if col not in testCase_dict:
            testCase_dict[col] = []
        # make sure identical test cases differ by gender
        if col == 'SEX_1':
            # random_int = random.choice(ranges_dict[col])
            testCase_dict[col].append(ranges_dict['SEX_1'][0])
            testCase_dict[col].append(ranges_dict['SEX_1'][1])
        else:
            range_list = ranges_dict[col]
            # some features are binary in nature
            if i in binaryCol_idxs:
                random_value = random.choice(range_list)
            else:
                random_value = random.uniform(range_list[0], range_list[1])
            testCase_dict[col].append(random_value)
            testCase_dict[col].append(random_value)
    if row % 50 == 0:
        print(f'{row} test cases created.')
        
print('Test cases are ready!')
'''

0 test cases created.
50 test cases created.
100 test cases created.
150 test cases created.
200 test cases created.
Test cases are ready!

In [65]:
'''
testCase_df = pd.DataFrame(testCase_dict)
'''

In [68]:
'''
testCase_fp = '/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/scripts/inference/testCases.csv'
testCase_df.to_csv(testCase_fp, index=False)
'''

# IMPORT TEST CASES

In [69]:
testCase_fp = '/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/scripts/inference/testCases.csv'
testCase_df = pd.read_csv(testCase_fp)

In [70]:
testCase_df

,AGE,UHRSWORKT,WKSWORK1,UHRSWORKLY,RELATE_101,RELATE_201,RELATE_202,RELATE_203,RELATE_301,RELATE_501,...,EDUC_111,EDUC_123,EDUC_124,EDUC_125,SCHLCOLL_1,SCHLCOLL_2,SCHLCOLL_3,SCHLCOLL_4,SCHLCOLL_5,DIFFANY_1
0,0.208609,0.299864,0.985920,0.207498,1,1,1,0,0,0,...,0,1,1,0,1,0,0,0,0,0
1,0.208609,0.299864,0.985920,0.207498,1,1,1,0,0,0,...,0,1,1,0,1,0,0,0,0,0
2,0.545685,0.797309,0.986829,0.183827,0,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,0.545685,0.797309,0.986829,0.183827,0,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
4,0.688686,0.635126,0.360124,0.087979,0,1,1,1,0,1,...,0,0,1,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.480704,0.014704,0.545005,0.908050,1,1,0,1,1,1,...,0,0,1,0,1,1,1,0,0,1
496,0.747997,0.568339,0.511455,0.070756,1,0,0,1,1,1,...,0,1,1,1,0,0,0,0,1,0
497,0.747997,0.568339,0.511455,0.070756,1,0,0,1,1,1,...,0,1,1,1,0,0,0,0,1,0
498,0.170143,0.282511,0.980904,0.796339,0,1,1,1,1,1,...,0,1,1,0,0,1,1,1,1,0
499,0.170143,0.282511,0.980904,0.796339,0,1,1,1,1,1,...,0,1,1,0,0,1,1,1,1,0

# DEFINE MODELS

In [72]:
testCase_arr = testCase_df.values

In [74]:
lasso_reg_G = Lasso(alpha=0.01, fit_intercept=False, max_iter=1000)
ridge_reg_G = Ridge(alpha=10, fit_intercept=True, max_iter=1000, solver='sparse_cg')
nn1_G = SimpleNN(input_size=testCase_arr.shape[1], 
                 hidden_size=10, 
                 output_size=1)

# IMPORT MODEL WEIGHTS

In [77]:
lassoWeights_fp = '/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/scripts/training/logs/linear models feature weights/gender inclusive/lassofeatures_G.csv'
ridgeWeights_fp = '/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/scripts/training/logs/linear models feature weights/gender inclusive/ridgefeatures_G.csv'
nn1Weights_fp = '/Users/niahodges/Downloads/Spring 2024/Practicum in Data Analytics and Statistics/project/scripts/training/logs/nn1_G_inputWeights.csv'

lassoWeights_df = pd.read_csv(lassoWeights_fp)
ridgeWeights_df = pd.read_csv(ridgeWeights_fp)
nn1Weights_df = pd.read_csv(nn1Weights_fp)

lassoWeights_list = lassoWeights_df['weight']
ridgeWeights_list = ridgeWeights_df['weight']
nn1Weights_list = nn1Weights_df['input_weights']

# LASSO REGRESSION

In [81]:
len(testCase_arr)

500

In [83]:
len(testCase_arr[1])

90

In [ ]:
## APPLY WEIGHTS TO DATA
weighted_input = np.empty((testCase_df[0]))

## RUN INFERENCE

## SAVE RESULTS

# RIDGE RGRESSION

## APPLY WEIGHTS TO DATA

## RUN INFERENCE

## CALCULATE ACCURACY

## SAVE RESULTS

# SIMPLE NN RGRESSION

## APPLY WEIGHTS TO DATA

## RUN INFERENCE

## CALCULATE ACCURACY

## SAVE RESULTS